In [1]:
import pandas as pd

# Работа с Pandas

1. Загрузите ваш DataFrame в переменную df и выведете на экран первые пять строк

In [2]:
df = pd.read_csv('googleplaystore.csv') # Считываем наш датафрейм из csv файла
df.head(5)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0.0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0.0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0.0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0.0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0.0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

2. Отобразите количество строк и столбцов в DataFrame

In [3]:
df.shape

(10841, 13)

3. Выведете основную информацию о DataFrame методом info(). Проанализируйте есть ли пропуски в столбцах. Напишите вывод о том, какие столбцы содержат пропуски

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  float64
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(2), object(11)
memory usage: 1.1+ MB

#### Пропущенные данные в Rating, Type, Content Rating, Current Ver и Android Ver.

4. Удалите или замените пропуски известными вам методами. (Подсказка: `dropna()` или `fillna()`, выбор того или иного метода должен быть аргументирован).

In [5]:
# Напишем просто цикл, Чтобы привести все названия столбцов к нижнему регистру
column_names = list(df.columns)
lower_column_names = [] # Создадим пустой список куда будем добавлять наши значения

for word in column_names: # Войдём в цикл по списку column_names
    lower_column_names.append(word.lower()) # Добавляем в список lower_column_names имя колонки в нижнем регистре используя метод .lower()

In [6]:
df.columns = lower_column_names # Заменяем названия столбцов на lower_column_names
df.rename(columns = {'content rating':' content_rating', 'last updated':'last_updated', 'current ver':'current_ver', 'android ver':'android_ver'}, inplace = True )
df.head(3)

,app,category,rating,reviews,size,installs,type,price,content_rating,genres,last_updated,current_ver,android_ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0.0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0.0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0.0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up

In [7]:
df.rating = df.rating.fillna(df.rating.median()) # Заполним рейтинг медианой, тк это оптимальное значение

In [8]:
df.current_ver.fillna('Unknown',inplace=True) # Заполним текущую версию приложения "Unknown", тк мы не знаем текущую версию

In [11]:
android_ver_freq = df.android_ver.value_counts().reset_index()
android_ver_freq['index'][0]

'4.1 and up'

In [12]:
df.android_ver = df.android_ver.fillna(android_ver_freq['index'][0]) # Заполним версию андроид наиболее частым значением

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   app              10841 non-null  object
 1   category         10841 non-null  object
 2   rating           10841 non-null  float64
 3   reviews          10841 non-null  object
 4   size             10841 non-null  object
 5   installs         10841 non-null  object
 6   type             10840 non-null  object
 7   price            10841 non-null  float64
 8    content_rating  10840 non-null  object
 9   genres           10841 non-null  object
 10  last_updated     10841 non-null  object
 11  current_ver      10841 non-null  object
 12  android_ver      10841 non-null  object
dtypes: float64(2), object(11)
memory usage: 1.1+ MB

In [14]:
# Остался один пропуск. Избавимся от него
df.dropna(inplace=True)

5. Проверьте нет ли пропусков после произведенной обработки

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10839 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   app              10839 non-null  object
 1   category         10839 non-null  object
 2   rating           10839 non-null  float64
 3   reviews          10839 non-null  object
 4   size             10839 non-null  object
 5   installs         10839 non-null  object
 6   type             10839 non-null  object
 7   price            10839 non-null  float64
 8    content_rating  10839 non-null  object
 9   genres           10839 non-null  object
 10  last_updated     10839 non-null  object
 11  current_ver      10839 non-null  object
 12  android_ver      10839 non-null  object
dtypes: float64(2), object(11)
memory usage: 1.2+ MB

In [16]:
df.reset_index(drop=True)

,app,category,rating,reviews,size,installs,type,price,content_rating,genres,last_updated,current_ver,android_ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0.0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0.0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0.0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0.0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0.0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10834,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0.0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10835,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0.0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10836,Parkinson Exercices FR,MEDICAL,4.3,3,9.5M,"1,000+",Free,0.0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10837,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0.0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10838,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0.0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

6. Выведите на экран минимум и максимум из столбца `Price`:

In [18]:
print(df.price.min(), df.price.max())

0.0 400.0

7. Выведите на экран медиану и среднее арифметическое столбцов:
 - Rating
 - Reviews

In [20]:
df[['rating', 'reviews']].apply('median')

rating        4.3
reviews    2094.0
dtype: float64

In [22]:
df[['rating', 'reviews']].astype(float).apply('mean').round(2)

rating          4.21
reviews    444193.87
dtype: float64

8. Выведите на экран все уникальные значения категориального столбца Genres

In [23]:
df.genres.unique()

array(['Art & Design', 'Art & Design;Pretend Play',
       'Art & Design;Creativity', 'Art & Design;Action & Adventure',
       'Auto & Vehicles', 'Beauty', 'Books & Reference', 'Business',
       'Comics', 'Comics;Creativity', 'Communication', 'Dating',
       'Education;Education', 'Education', 'Education;Creativity',
       'Education;Music & Video', 'Education;Action & Adventure',
       'Education;Pretend Play', 'Education;Brain Games', 'Entertainment',
       'Entertainment;Music & Video', 'Entertainment;Brain Games',
       'Entertainment;Creativity', 'Events', 'Finance', 'Food & Drink',
       'Health & Fitness', 'House & Home', 'Libraries & Demo',
       'Lifestyle', 'Lifestyle;Pretend Play',
       'Adventure;Action & Adventure', 'Arcade', 'Casual', 'Card',
       'Casual;Pretend Play', 'Action', 'Strategy', 'Puzzle', 'Sports',
       'Music', 'Word', 'Racing', 'Casual;Creativity',
       'Casual;Action & Adventure', 'Simulation', 'Adventure', 'Board',
       'Trivia', 'Role Playing', 'Simulation;Education',
       'Action;Action & Adventure', 'Casual;Brain Games',
       'Simulation;Action & Adventure', 'Educational;Creativity',
       'Puzzle;Brain Games', 'Educational;Education', 'Card;Brain Games',
       'Educational;Brain Games', 'Educational;Pretend Play',
       'Entertainment;Education', 'Casual;Education',
       'Music;Music & Video', 'Racing;Action & Adventure',
       'Arcade;Pretend Play', 'Role Playing;Action & Adventure',
       'Simulation;Pretend Play', 'Puzzle;Creativity',
       'Sports;Action & Adventure', 'Educational;Action & Adventure',
       'Arcade;Action & Adventure', 'Entertainment;Action & Adventure',
       'Puzzle;Action & Adventure', 'Strategy;Action & Adventure',
       'Music & Audio;Music & Video', 'Health & Fitness;Education',
       'Adventure;Education', 'Board;Brain Games',
       'Board;Action & Adventure', 'Board;Pretend Play',
       'Casual;Music & Video', 'Role Playing;Pretend Play',
       'Entertainment;Pretend Play', 'Video Players & Editors;Creativity',
       'Card;Action & Adventure', 'Medical', 'Social', 'Shopping',
       'Photography', 'Travel & Local',
       'Travel & Local;Action & Adventure', 'Tools', 'Tools;Education',
       'Personalization', 'Productivity', 'Parenting',
       'Parenting;Music & Video', 'Parenting;Education',
       'Parenting;Brain Games', 'Weather', 'Video Players & Editors',
       'Video Players & Editors;Music & Video', 'News & Magazines',
       'Maps & Navigation', 'Health & Fitness;Action & Adventure',
       'Educational', 'Casino', 'Adventure;Brain Games',
       'Trivia;Education', 'Lifestyle;Education',
       'Books & Reference;Creativity', 'Books & Reference;Education',
       'Puzzle;Education', 'Role Playing;Education',
       'Role Playing;Brain Games', 'Strategy;Education',
       'Racing;Pretend Play', 'Communication;Creativity',
       'Strategy;Creativity'], dtype=object)

9. Сгруппируйте данные по столбцу `Genres` и посчитайте для каждого жанра средний и медианный рейтинг. Представьте результат в виде нового DataFrame,который будет сохранен в переменную `grouped_df`, где одна колонка будет содержать названия жарнов, а две другие буду содержать в себе средний и медианный рейтинги. Напишите краткий вывод.

In [27]:
grouped_df = df.groupby(by=['genres'], as_index=False).agg(median_rating = ('rating','median'),
                                                 mean_rating = ('rating','mean'))
grouped_df.head(5)

                         genres  median_rating  mean_rating
0                        Action            4.3     4.285753
1     Action;Action & Adventure            4.3     4.311765
2                     Adventure            4.3     4.184000
3  Adventure;Action & Adventure            4.5     4.423077
4         Adventure;Brain Games            4.6     4.600000

10. Из получившегося датафрейма выведите на экран только те жанры, чей медианный рейтинг больше 4.5. Напишите краткий вывод.

In [25]:
grouped_df.loc[grouped_df.mean_rating > 4.5]

                          genres  median_rating  mean_rating
4          Adventure;Brain Games            4.6     4.600000
18            Board;Pretend Play            4.8     4.800000
35             Comics;Creativity            4.8     4.800000
55      Entertainment;Creativity            4.6     4.533333
64    Health & Fitness;Education            4.7     4.700000
74           Music;Music & Video            4.6     4.533333
87              Puzzle;Education            4.6     4.600000
105  Strategy;Action & Adventure            4.6     4.600000

11. Выведете кол-во дубликатов в основном DataFrame (df) и удалите их

In [28]:
df.duplicated().loc[df.duplicated() == True]

229      True
236      True
239      True
256      True
261      True
         ...
8643     True
8654     True
8658     True
10049    True
10768    True
Length: 483, dtype: bool

In [29]:
df.drop_duplicates(inplace=True)

12. Посчитатайте какое количество приложений содержится в каждом жанре (value_counts).В получившемся Series выведите на экран 10 строк с наибольшим количеством приложений отсортированных по убыванию.

In [37]:
df.genres.value_counts().head(10)

Tools              842
Entertainment      588
Education          527
Business           427
Medical            408
Productivity       407
Personalization    388
Lifestyle          372
Communication      366
Sports             364
Name: genres, dtype: int64